In [2]:
import pandas_datareader.data as pdr
import yfinance as yf
import pandas as pd
from datetime import datetime, date

yf.pdr_override()

# 獲取股票數據
tickers = ['2330.TW', '2303.TW', '2454.TW', '2317.TW']
all_data = {ticker: pdr.get_data_yahoo(ticker, start="2024-01-01", end=date.today()) for ticker in tickers}

print(all_data)

df1 = pd.DataFrame(index=['平均', '中位數', '最高值', '最低值', '最高值日期', '最低值日期'])

for column, ticker in zip(['臺積電', '聯電', '聯發科', '鴻海'], tickers):
    data = all_data[ticker]['Adj Close']
    
    df1[column] = [
        data.mean(),
        data.median(),
        data.max(),
        data.min(),
        data.idxmax(),
        data.idxmin()
    ]

def format_value(value):
    if isinstance(value, (int, float)):
        return f"{value:.2f}"
    elif isinstance(value, pd.Timestamp):
        return value.strftime('%Y-%m-%d')
    return value

styled_result = df1.style.format(format_value)

# 表格樣式
styled_result = styled_result.set_properties(**{
    'text-align': 'center',
    'font-size': '11pt',
    'border-color': 'black',
    'border-style': 'solid',
    'border-width': '1px',
    'padding': '3px'
})

# 表頭樣式
styled_result = styled_result.set_table_styles([{
    'selector': 'th',
    'props': [('background-color', '#613030'), 
              ('text-align', 'center'),
              ('font-weight', 'bold'),
              ('border', '1px solid black'),
              ('padding', '3px')]
}])

# 顯示結果
display(styled_result)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{'2330.TW':               Open    High     Low   Close    Adj Close    Volume
Date
2024-01-02   590.0   593.0   589.0   593.0   587.971313  26059058
2024-01-03   584.0   585.0   576.0   578.0   573.098511  37106763
2024-01-04   580.0   581.0   577.0   580.0   575.081543  15309129
2024-01-05   578.0   580.0   574.0   576.0   571.115479  18158971
2024-01-08   582.0   585.0   579.0   583.0   578.056152  17761275
...            ...     ...     ...     ...          ...       ...
2024-07-01   968.0   977.0   965.0   968.0   968.000000  19935737
2024-07-02   967.0   971.0   959.0   960.0   960.000000  25427569
2024-07-03   976.0   979.0   967.0   979.0   979.000000  24070411
2024-07-04  1000.0  1010.0   997.0  1005.0  1005.000000  41893299
2024-07-05  1005.0  1010.0  1000.0  1005.0  1005.000000  19998094

[122 rows x 6 columns], '2303.TW':                  Open       High        Low      Close  Adj Close     Volume
Date
2024-01-02  52.500000  52.799999  51.299999  51.900002  49.163513   64217881
2024-01-03  51.200001  51.299999  50.500000  50.599998  47.932056   75978300
2024-01-04  50.500000  50.900002  50.200001  50.799999  48.121510   56554331
2024-01-05  51.599998  52.200001  50.599998  50.799999  48.121510   77391673
2024-01-08  51.000000  51.000000  50.099998  50.500000  47.837330   63869803
...               ...        ...        ...        ...        ...        ...
2024-07-01  55.900002  57.299999  55.900002  56.900002  53.899883  145350617
2024-07-02  53.500000  53.500000  51.900002  52.700001  52.700001  237140005
2024-07-03  53.099998  53.299999  52.599998  52.700001  52.700001  111388367
2024-07-04  53.299999  54.400002  53.200001  54.000000  54.000000  110272226
2024-07-05  54.000000  54.099998  53.400002  53.500000  53.500000   55145519

[122 rows x 6 columns], '2454.TW':               Open    High     Low   Close    Adj Close    Volume
Date
2024-01-02  1010.0  1015.0   980.0   981.0   934.995605  10009034
2024-01-03   976.0   977.0   953.0   953.0   908.308716  12547023
2024-01-04   940.0   947.0   922.0   928.0   907.917358   8449251
2024-01-05   929.0   935.0   921.0   921.0   901.068848   5524580
2024-01-08   930.0   936.0   918.0   920.0   900.090454   5553064
...            ...     ...     ...     ...          ...       ...
2024-07-01  1405.0  1440.0  1405.0  1415.0  1384.378296   5023006
2024-07-02  1410.0  1415.0  1390.0  1410.0  1379.486450   5090265
2024-07-03  1430.0  1430.0  1390.0  1405.0  1374.594727   6361645
2024-07-04  1380.0  1400.0  1375.0  1375.0  1375.000000   7642964
2024-07-05  1380.0  1385.0  1335.0  1350.0  1350.000000   6406820

[122 rows x 6 columns], '2317.TW':              Open   High    Low  Close   Adj Close     Volume
Date
2024-01-02  104.5  105.0  104.0  105.0  102.375000   19921105
2024-01-03  104.5  105.0  104.0  104.5  101.887505   18957682
2024-01-04  104.5  105.0  104.0  104.0  101.400002   15488559
2024-01-05  104.0  104.5  104.0  104.0  101.400002   13349572
2024-01-08  103.5  104.0  101.5  101.5   98.962502   34642006
...           ...    ...    ...    ...         ...        ...
2024-07-01  215.0  217.0  214.5  216.0  210.600006   73503014
2024-07-02  212.0  213.0  203.0  204.5  204.500000  142637509
2024-07-03  205.0  208.0  203.0  203.0  203.000000   75817371
2024-07-04  208.0  215.0  207.5  214.5  214.500000  110905158
2024-07-05  214.0  215.5  212.5  214.5  214.500000   43052441

[122 rows x 6 columns]}