In [15]:
import pandas as pd

df1 = pd.read_csv('上市公司資料.csv')
df2 = df1[['公司代號', '公司名稱', '產業別', '營業收入-當月營收', '營業收入-上月營收']]
df2

     公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-上月營收
0    1102   亞泥  水泥工業    7069221    7864622
1    1108   幸福  水泥工業     390053     326691
2    1109   信大  水泥工業     478276     557403
3    1110   東泥  水泥工業     176935     134470
4    1213   大飲  食品工業      38696      29503
..    ...  ...   ...        ...        ...
834  9942   茂順    其他     352730     349111
835  9943  好樂迪  觀光事業     212912     197756
836  9944   新麗    其他     179660     231139
837  9955   佳龍    其他      81881      85625
838  9958  世紀鋼  鋼鐵工業     757968     651699

[839 rows x 5 columns]

In [16]:
#index筆數
#欄位名
#檢查有沒有null
#欄位的資料類型
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   公司代號       839 non-null    int64
 1   公司名稱       839 non-null    object
 2   產業別        839 non-null    object
 3   營業收入-當月營收  839 non-null    int64
 4   營業收入-上月營收  839 non-null    int64
dtypes: int64(3), object(2)
memory usage: 32.9+ KB

In [17]:
def format_number(value:int)->str:
    return '{0:,}'.format(value)

df2.loc[:,'營業收入-當月營收'] = df2['營業收入-當月營收'].map(format_number)
df2

/tmp/ipykernel_3183/2766143033.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['7,069,221' '390,053' '478,276' '176,935' '38,696' '2,393,814'
 '1,054,476' '1,352,250' '314,062' '1,333,748' '2,686,715' '831,107'
 '976,319' '2,186,695' '173,566' '1,074,526' '6,974' '221,454' '581,403'
 '17,450,790' '27,507,669' '5,215,901' '1,190,704' '1,118,509' '1,082,981'
 '1,529,912' '851,722' '1,405,126' '5,052,422' '306,497' '1,767,684'
 '550,848' '75,027' '44,949' '28,666,166' '60,295' '617,345' '175,239'
 '40,342' '215,526' '212,537' '29,489' '263,208' '55,727' '117,306' '701'
 '312,131' '14,789' '2,965,754' '1,085' '864,693' '67,184' '0' '1,615,212'
 '108,145' '125,929' '103,981' '1,110,060' '124,480' '10,478' '2,719,435'
 '232,128' '825,466' '134,402' '39,629' '157,137' '694,537' '36,321'
 '365,255' '132,777' '925,749' '37,194' '1,055,023' '60,397' '215,180'
 '132,643' '84,491' '16,873' '707,355' '286,882' '83,865' '3,913,925'
 '3,261,778' '4,690,410' '91,940' '44,832' '1,486,349' '581,803' '419,646'
 '198,568' '371,194' '1,526,510' '180,053' '120,687' '198,988' '318,364'
 '286,967' '22,909' '299,268' '193,348' '1,202,021' '245,523' '685,491'
 '701,619' '707,839' '32,519' '214,396' '52,791' '406,755' '617,552'
 '133,799' '753,559' '615,406' '230,637' '849,214' '1,976,218' '138,345'
 '449,422' '491,483' '714,628' '14,315,935' '857,290' '140,844' '470,080'
 '570,465' '415,238' '366,545' '405,947' '500,166' '678,623' '882,160'
 '874,460' '1,852,131' '772,829' '1,910,508' '58,815' '2,042,992'
 '3,878,708' '2,973,454' '509,036' '225,643' '1,318,608' '865,016'
 '646,962' '192,152' '266,545' '103,953' '198,847' '240,083' '242,407'
 '2,745,173' '334,505' '151,201' '345,476' '156,945' '973,028' '126,953'
 '56,342' '38,740' '189,826' '996,806' '3,734,242' '747' '244,575'
 '14,021' '236,585' '235,523' '14,708' '3,510,002' '2,046,809' '345,171'
 '6,863,866' '4,420,610' '5,029,584' '447,886' '223,797' '262,992'
 '1,685,690' '2,303,077' '2,855,817' '311,272' '540,292' '833,061' '6,212'
 '9,582,826' '847,067' '794,833' '1,401,283' '1,832,460' '283,295'
 '72,271' '1,301,373' '1,110,642' '2,627,868' '723,298' '503,368'
 '1,099,130' '552,143' '185,894' '2,785,418' '9,059,420' '162,774'
 '832,859' '476,702' '154,244' '249,194' '6,247,768' '2,204,713'
 '4,642,552' '753,827' '833,180' '309,060' '298,708' '2,368,562' '50,098'
 '87,687' '255,471' '15,434,850' '81,810' '25,346,076' '65,241'
 '16,484,774' '7,188,397' '431,594' '484,579' '448,906,316' '703,963'
 '88,842,373' '10,175,610' '2,177,265' '1,327,389' '218,132,391'
 '2,617,625' '1,447,895' '3,727,862' '697,223' '354,487' '190,849'
 '7,402,743' '6,391,814' '35,920,894' '417,930' '686,466' '988,150'
 '19,898,793' '20,241,042' '5,553,869' '1,474,478' '44,375,400'
 '48,226,687' '111,234' '339,190' '2,311,564' '1,925,210' '11,419'
 '84,145' '108,515' '1,888,943' '2,960,443' '453,201' '1,173,846'
 '496,358' '497,713' '7,896,900' '12,564,059' '10,398,019' '259,548'
 '131,869,030' '3,233,476' '10,261,684' '2,558,851' '983,557' '44,727'
 '8,025,226' '1,562,931' '6,236,122' '1,294,073' '701,975' '118,183'
 '3,419,118' '16,021,445' '442,168' '2,361,914' '170,344' '284,791'
 '1,018,128' '1,098,401' '237,725' '2,429' '537,114' '256,713' '645,334'
 '39,483' '1,758,229' '91,302' '258,754' '7,716' '194,038' '11,792'
 '3,716,353' '228,254' '1,237,752' '9,811' '150,337' '2,891,833'
 '2,512,334' '1,003,703' '446,950' '44,699,654' '173,020' '1,346,161'
 '843,824' '814,858' '184,507' '518,532' '951,871' '291,995' '497,632'
 '68,149' '798,569' '2,870,083' '632,854' '201,654' '369,938' '576,222'
 '1,004,167' '114,766' '184,960' '266,354' '655,975' '413,832' '338,510'
 '1,318,705' '2,639,851' '266,951' '134,145' '350,939' '312,762' '995,485'
 '1,819,642' '75,144' '18,293' '507,511' '1,072,268' '1,397,356' '565,296'
 '1,546,557' '223,376' '108,525' '44' '1,017' '290,440' '1,529,560'
 '72,044' '145,148' '23,611' '2,364,287' '461,649' '343,473' '717,050'
 '361,731' '1,339,321' '612,376' '238,563' '529,814' '57,442,123'
 '313,492' '1,472,657' '2,055,556' '35,089,619' '65,992' '390,907'
 '269,207' '21,314,901' '1,519,762' '329,693' '12,014,621' '382,673'
 '3,366,023' '2,555,919' '1,996,021' '2,073,045' '401,898' '19,414'
 '132,331' '112,335' '23,681' '525,276' '90,289' '114,328' '1,733,154'
 '256,632' '167,123' '3,265,931' '905,008' '1,440,249' '758,209' '249,065'
 '521,635' '2,563,993' '303,639' '1,128,926' '517,200' '1,791,841'
 '631,312' '485,770' '5,166,107' '4,793,454' '4,861,655' '6,276,645'
 '10,398,122' '579,802' '4,313,423' '11,158,103' '7,045,774' '1,005,423'
 '8,393' '43,916' '2,977,229' '118,810' '61,625' '209,199' '2,937,045'
 '1,185,956' '4,441,781' '6,431,519' '125,991' '540,034' '374,733'
 '1,453,851' '521,284' '4,978,025' '1,659,751' '393,648' '941,034'
 '2,737,848' '159,908' '29,805' '1,157,585' '150,433' '2,676,060'
 '1,623,480' '593,191' '113,455' '6,175,847' '6,527,191' '1,086,262'
 '45,134,755' '12,131,465' '428,169' '14,195' '157,781' '1,105,110'
 '148,084' '5,569,157' '295,547' '516,192' '10,912,095' '148,036' '99,648'
 '217,777' '2,518' '178,580' '703,890' '72,271' '351,538' '1,380,336'
 '249,108' '638,623' '764,649' '247,190' '26,385' '190,253' '165,994'
 '229,172' '32,210' '163,116' '3,868,932' '5,017,486' '82,120'
 '76,876,839' '35,810' '31,351' '265,384' '642,761' '23,217' '179,512'
 '1,580,078' '104,049' '413,297' '132,303' '1,183,511' '3,058,273'
 '29,107' '2,535,097' '1,379,766' '259,619' '181,487' '1,001' '151,805'
 '2,014,285' '602,092' '921,507' '15,281,141' '53,909' '625,417' '403,435'
 '1,192,075' '22,510' '551,377' '125,098' '1,394,766' '2,372,149'
 '155,401' '40,883' '237,089' '745,879' '304,493' '392,978' '132,720'
 '1,544,244' '470,253' '102,656' '154,570' '1,326,763' '100,023'
 '4,077,872' '255,932' '979,882' '82,007' '105,511' '1,122,164'
 '1,166,107' '4,567,275' '216,418' '9,195,001' '414,153' '1,022,246'
 '8,132' '1,091,212' '556,860' '3,822,003' '814,660' '815,793' '2,282,902'
 '1,266,272' '634,672' '14,316' '124,845' '42,019' '396,987' '109,142'
 '460,062' '216,035' '120,036' '2,558,539' '785,447' '135,067' '1,250,912'
 '1,128,785' '283,229' '192,080' '849,739' '512,122' '149,859' '266,856'
 '154,978' '74,722' '146,576' '477,432' '189,199' '59,544' '283,578'
 '96,181' '246,306' '322,875' '285,783' '144,384' '680,910' '279,054'
 '419,269' '416,873' '226,376' '1,993,074' '420,669' '2,654,839' '404,243'
 '7,429,895' '246,987' '3,485,293' '1,072,376' '628,347' '193,432'
 '1,099,924' '116,036,992' '626,796' '231,324' '93,380' '16,539,190'
 '605,699' '1,434,516' '504,585' '302,144' '113,276' '270,184' '332,823'
 '137,315' '163,123' '597,907' '139,866' '178,597' '94,635' '1,403,828'
 '252,786' '1,406,940' '68,785' '634,941' '451,057' '164,356' '547,000'
 '5,733,889' '4,632,104' '4,139,143' '254,784' '387,387' '959,016'
 '691,127' '1,797,686' '106,626' '153,713' '37,837' '246,587' '1,289,253'
 '261,523' '620,091' '7,508,424' '4,582,566' '4,795,374' '189,583'
 '338,121' '959,265' '216,494' '1,030,595' '637,913' '1,437,876' '205,477'
 '639,192' '436,810' '142,121' '40,997' '3,350,685' '258,525' '360,623'
 '482,327' '1,824,237' '63,458' '59,672' '265,625' '1,017,140' '6,052,612'
 '106,544' '194,869' '166,828' '2,046,695' '507,972' '4,907,330' '404,465'
 '284,184' '469,580' '135,288' '300,256' '2,055,410' '2,817,723' '134,379'
 '47,227' '2,770' '67,205' '997,458' '355,633' '7,084,719' '45,079'
 '1,563,234' '4,142,926' '1,263,132' '460,459' '5,858,946' '1,961,170'
 '2,152,244' '8,539,157' '335,853' '2,021' '18,034' '2,357,898'
 '3,514,327' '10,392,386' '1,992,630' '421,679' '52,664' '35,617'
 '547,588' '290,621' '745,150' '156,244' '596,431' '12,094,031' '355,117'
 '360,067' '506,432' '513,953' '82,746,460' '507,176' '459,152' '382,285'
 '86,077' '3,889' '75' '120,246' '100,562' '652,638' '218,681' '109,334'
 '204,163' '72,222' '1,976,961' '38,080' '1,533,348' '109,432' '157,116'
 '228,988' '73,077' '75,657' '26,368,154' '2,645,360' '144,067' '393,210'
 '255,536' '1,258,899' '80,114' '214,009' '345,620' '512,922' '372,540'
 '528,750' '206,136' '1,845,629' '6,432,678' '1,992,711' '1,341,133'
 '719,034' '840,132' '106,970' '42,049' '86,691' '189,516' '403,588'
 '156,716' '75,439' '37,978' '156,657' '1,358,220' '290,389' '275,108'
 '105,568' '801,306' '5,756,589' '1,855,940' '104,016' '567,196' '31,994'
 '294,269' '266,751' '846,983' '889,037' '12,938,594' '1,205,735'
 '906,043' '1,715,097' '2,612,800' '36,224' '1,024,998' '1,344,154'
 '1,264,800' '47,723' '402,047' '287,845' '698,115' '312,497' '221,253'
 '294,942' '729,430' '1,001,252' '488,257' '21,061' '311,069' '742,442'
 '106,806' '323,006' '2,239,644' '212,267' '249,059' '459,949' '337,509'
 '139,239' '133,388' '389,977' '273,218' '33,790' '235,345' '2,664,237'
 '2,182' '977,558' '96,909' '4,084,329' '8,780,643' '647,591' '48,639'
 '3,021,291' '1,300,543' '115,715' '894,986' '639,183' '157,646' '790,747'
 '66,149' '51,266' '953,660' '97,643' '7,757,743' '415,837' '2,173,347'
 '1,476,959' '2,598,183' '919,977' '3,201,093' '352,730' '212,912'
 '179,660' '81,881' '757,968']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.loc[:,'營業收入-當月營收'] = df2['營業收入-當月營收'].map(format_number)

     公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-上月營收
0    1102   亞泥  水泥工業  7,069,221    7864622
1    1108   幸福  水泥工業    390,053     326691
2    1109   信大  水泥工業    478,276     557403
3    1110   東泥  水泥工業    176,935     134470
4    1213   大飲  食品工業     38,696      29503
..    ...  ...   ...        ...        ...
834  9942   茂順    其他    352,730     349111
835  9943  好樂迪  觀光事業    212,912     197756
836  9944   新麗    其他    179,660     231139
837  9955   佳龍    其他     81,881      85625
838  9958  世紀鋼  鋼鐵工業    757,968     651699

[839 rows x 5 columns]

In [18]:
df2.loc[:,'營業收入-上月營收'] = df2['營業收入-上月營收'].map(format_number)
df2

/tmp/ipykernel_3183/3430736684.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['7,864,622' '326,691' '557,403' '134,470' '29,503' '2,400,161'
 '1,023,417' '1,321,525' '294,528' '1,301,087' '2,146,094' '906,199'
 '987,622' '1,798,053' '133,500' '952,900' '3,274' '170,333' '475,276'
 '19,936,058' '27,970,940' '5,657,528' '1,560,080' '923,832' '969,456'
 '1,586,565' '1,314,555' '1,382,426' '5,993,125' '212,786' '1,859,349'
 '474,542' '73,983' '50,686' '31,249,506' '53,666' '705,668' '179,434'
 '36,383' '212,305' '214,641' '30,028' '219,957' '60,543' '120,361' '427'
 '270,399' '10,059' '2,957,701' '1,067' '655,976' '123,460' '0'
 '1,727,479' '141,393' '69,478' '63,796' '1,124,306' '129,689' '20,368'
 '3,157,856' '182,939' '861,416' '135,987' '30,291' '155,473' '742,046'
 '47,436' '309,944' '162,430' '835,539' '43,449' '981,694' '40,660'
 '228,599' '152,071' '70,402' '14,981' '787,362' '264,396' '104,255'
 '3,899,629' '3,718,403' '5,228,346' '90,144' '54,530' '1,498,362'
 '497,977' '342,805' '217,961' '398,886' '1,508,869' '192,039' '152,879'
 '188,609' '304,470' '287,238' '25,085' '327,831' '212,566' '1,127,279'
 '370,906' '720,211' '669,456' '702,257' '28,086' '232,621' '48,710'
 '431,679' '618,058' '153,467' '962,758' '596,528' '245,881' '786,319'
 '1,978,552' '147,964' '448,166' '214,634' '845,180' '15,121,399'
 '976,010' '126,845' '503,497' '692,704' '263,424' '308,203' '103,947'
 '712,747' '659,390' '681,342' '868,527' '1,121,107' '735,513' '2,021,193'
 '44,478' '2,338,832' '4,010,038' '2,952,896' '462,839' '230,167'
 '1,191,512' '964,882' '632,445' '192,762' '204,056' '105,362' '203,389'
 '193,219' '229,032' '1,996,618' '305,192' '180,890' '159,290' '130,715'
 '900,338' '101,105' '46,993' '58,552' '290,904' '1,043,645' '3,741,733'
 '39,558' '235,289' '19,960' '224,533' '220,316' '12,111' '3,659,438'
 '2,079,953' '401,520' '6,719,538' '3,733,965' '4,827,238' '481,612'
 '227,765' '270,550' '1,759,432' '2,890,631' '3,274,243' '341,711'
 '476,393' '683,525' '51,322' '8,854,430' '750,409' '1,035,691'
 '1,330,411' '1,106,608' '225,368' '51,499' '1,667,173' '977,276'
 '2,781,486' '714,280' '660,951' '1,229,673' '659,958' '184,842'
 '3,085,654' '8,594,207' '116,397' '732,110' '488,521' '161,313' '276,970'
 '6,950,053' '2,664,866' '4,853,029' '982,491' '2,491,666' '294,771'
 '285,558' '2,170,666' '50,028' '176,610' '243,087' '14,799,908' '81,749'
 '24,826,685' '60,111' '15,370,766' '6,888,468' '421,381' '384,907'
 '475,099,076' '624,190' '97,630,554' '10,410,213' '1,885,425' '1,313,341'
 '186,762,689' '2,740,290' '1,404,034' '3,604,068' '670,978' '363,382'
 '191,600' '7,390,832' '6,840,989' '32,768,594' '341,010' '699,359'
 '985,729' '20,401,065' '17,458,555' '5,448,347' '1,355,517' '47,109,534'
 '36,753,188' '115,744' '311,140' '2,056,033' '1,714,848' '14,579'
 '77,669' '130,910' '1,756,020' '2,667,513' '490,820' '1,253,904'
 '461,480' '528,019' '7,435,303' '13,011,506' '9,790,003' '210,220'
 '129,459,679' '3,295,478' '10,302,508' '2,552,948' '585,607' '43,708'
 '7,721,549' '1,638,776' '5,968,194' '1,454,871' '600,851' '145,978'
 '4,396,393' '17,431,035' '411,995' '2,375,085' '179,800' '374,541'
 '937,781' '1,209,716' '225,319' '7,629' '478,478' '254,536' '598,600'
 '40,687' '1,991,245' '120,867' '271,760' '7,060' '192,134' '16,004'
 '3,290,225' '207,441' '1,262,225' '9,867' '113,399' '3,196,133'
 '2,393,763' '1,024,394' '421,165' '40,890,418' '190,831' '1,180,373'
 '1,076,225' '766,310' '203,088' '511,005' '951,112' '344,049' '447,143'
 '74,254' '880,929' '2,821,398' '649,311' '318,855' '348,427' '512,430'
 '1,113,783' '85,375' '190,205' '312,326' '589,100' '443,616' '339,607'
 '1,025,750' '2,840,653' '264,948' '129,078' '238,981' '304,518'
 '2,016,943' '1,832,273' '270,910' '15,901' '1,006,171' '678,320'
 '1,219,088' '465,864' '1,525,880' '135,598' '42,295' '10' '1,011'
 '465,493' '1,324,551' '13,657' '49,400' '26,987' '732,130' '388,128'
 '181,592' '633,839' '904,436' '1,261,109' '429,425' '1,229,035' '465,054'
 '62,799,441' '283,538' '1,651,326' '1,686,328' '36,749,405' '66,758'
 '399,538' '273,017' '23,902,539' '1,576,509' '334,578' '11,866,739'
 '384,986' '2,991,101' '2,740,052' '2,237,452' '2,342,621' '379,005'
 '20,132' '150,799' '101,444' '24,195' '468,972' '68,203' '118,711'
 '1,636,887' '197,588' '166,842' '3,549,913' '1,136,280' '1,436,922'
 '813,502' '73,896' '563,873' '2,906,096' '309,915' '1,028,245' '460,264'
 '1,417,889' '640,231' '597,285' '6,118,042' '6,085,993' '7,120,270'
 '4,579,492' '8,992,940' '676,630' '4,728,509' '15,576,298' '7,321,542'
 '893,584' '10,378' '41,951' '2,946,815' '38,141' '74,758' '181,311'
 '2,964,559' '1,254,723' '3,885,328' '6,473,883' '139,198' '569,867'
 '361,455' '1,316,502' '520,561' '4,852,129' '1,645,534' '356,402'
 '859,297' '2,655,190' '165,209' '41,334' '1,193,913' '69,403' '2,988,118'
 '952,558' '439,496' '135,903' '5,167,770' '6,865,719' '1,090,051'
 '46,816,263' '11,779,291' '426,868' '13,205' '213,652' '1,179,482'
 '86,016' '5,758,566' '304,239' '467,344' '9,072,811' '143,027' '101,783'
 '257,108' '3,012' '184,243' '111,586' '72,976' '464,460' '1,250,957'
 '227,236' '606,135' '922,482' '295,429' '27,352' '194,456' '151,516'
 '224,365' '18,103' '225,273' '3,762,744' '6,345,141' '92,877'
 '79,684,558' '40,597' '133,554' '267,669' '670,145' '18,857' '171,920'
 '1,589,595' '124,415' '405,149' '99,730' '1,184,575' '2,756,213' '27,411'
 '1,946,290' '1,273,395' '233,540' '190,773' '3,916' '139,464' '1,940,034'
 '637,850' '850,076' '15,760,183' '55,959' '515,250' '493,551' '989,566'
 '35,045' '580,146' '134,294' '1,382,833' '2,236,848' '114,053' '37,043'
 '281,091' '636,014' '324,052' '359,103' '163,991' '1,280,849' '493,879'
 '110,149' '147,124' '1,389,413' '67,825' '4,183,524' '218,180'
 '1,031,406' '112,422' '86,481' '919,515' '950,674' '4,953,269' '312,966'
 '9,939,817' '402,394' '1,034,500' '582' '978,354' '537,095' '4,046,413'
 '679,366' '637,229' '2,316,152' '0' '562,980' '8,752' '49,649' '30,430'
 '388,205' '277,341' '365,312' '200,064' '140,625' '2,473,638' '574,542'
 '126,887' '1,519,977' '865,598' '329,530' '243,684' '797,410' '438,540'
 '184,869' '280,503' '161,919' '66,153' '152,461' '406,815' '206,991'
 '50,043' '286,237' '81,784' '291,708' '326,494' '378,792' '164,715'
 '797,698' '340,174' '411,234' '372,572' '227,727' '1,882,912' '524,897'
 '2,300,161' '506,883' '7,378,112' '177,944' '3,320,548' '853,497'
 '681,833' '200,716' '1,151,695' '107,969,645' '620,510' '245,525'
 '84,421' '13,193,571' '775,995' '1,459,047' '485,816' '296,677' '111,434'
 '269,941' '297,198' '172,737' '192,571' '532,636' '148,930' '251,151'
 '67,102' '1,363,484' '250,165' '1,270,012' '62,184' '616,095' '449,339'
 '157,092' '557,922' '6,006,754' '4,621,927' '4,179,502' '260,396'
 '453,909' '273,679' '526,120' '1,638,958' '136,415' '111,951' '666,090'
 '375,411' '1,247,474' '265,497' '680,732' '7,438,078' '4,730,874'
 '6,505,321' '169,090' '290,923' '927,194' '240,420' '1,099,635' '617,115'
 '1,355,754' '234,013' '1,378,852' '423,073' '137,516' '36,608'
 '3,067,204' '282,373' '302,819' '341,758' '1,547,536' '69,910' '89,999'
 '242,920' '964,990' '5,984,875' '61,937' '160,456' '165,923' '2,054,916'
 '536,883' '4,745,747' '392,114' '227,171' '495,274' '143,506' '293,524'
 '2,203,124' '2,852,649' '175,854' '56,370' '2,781' '69,799' '1,044,790'
 '365,363' '7,683,710' '51,196' '1,657,522' '3,122,711' '1,188,603'
 '397,421' '6,109,530' '2,337,918' '2,062,672' '8,243,938' '250,458'
 '2,247' '23,673' '1,976,858' '3,535,141' '9,600,256' '2,080,677'
 '371,382' '51,114' '38,027' '480,168' '352,830' '757,068' '152,497'
 '477,492' '10,858,198' '353,787' '265,651' '457,846' '450,852'
 '76,588,503' '423,518' '496,251' '405,358' '68,706' '571' '269' '123,586'
 '116,104' '642,046' '167,760' '119,802' '254,596' '94,041' '1,967,486'
 '36,701' '1,599,572' '48,517' '143,152' '208,228' '72,048' '130,284'
 '21,822,682' '2,597,223' '156,324' '397,849' '236,304' '1,407,876'
 '91,363' '346,597' '294,131' '553,863' '459,295' '489,318' '213,250'
 '1,748,160' '6,733,600' '1,756,354' '1,340,817' '805,256' '776,555'
 '113,967' '36,224' '102,012' '117,837' '444,087' '162,348' '86,426'
 '37,419' '133,888' '1,341,235' '284,177' '266,695' '89,114' '700,704'
 '5,531,701' '1,891,503' '95,134' '624,636' '18,632' '328,303' '277,014'
 '891,233' '892,092' '12,283,141' '1,100,923' '883,997' '1,947,919'
 '2,446,067' '32,269' '1,020,710' '1,469,415' '1,271,899' '41,131'
 '389,201' '333,983' '674,479' '291,676' '217,977' '331,442' '670,082'
 '870,010' '398,929' '24,850' '282,123' '772,258' '100,263' '293,742'
 '2,493,171' '271,446' '182,053' '328,329' '296,568' '131,477' '120,095'
 '361,638' '201,629' '48,444' '258,753' '2,091,076' '18,647' '941,787'
 '361,537' '4,242,111' '8,494,558' '667,660' '38,036' '3,256,264'
 '1,246,390' '144,160' '992,611' '631,362' '165,373' '781,853' '72,766'
 '44,423' '980,550' '86,467' '7,859,156' '472,316' '2,133,059' '1,340,178'
 '2,360,564' '1,062,504' '3,093,859' '349,111' '197,756' '231,139'
 '85,625' '651,699']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.loc[:,'營業收入-上月營收'] = df2['營業收入-上月營收'].map(format_number)

     公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-上月營收
0    1102   亞泥  水泥工業  7,069,221  7,864,622
1    1108   幸福  水泥工業    390,053    326,691
2    1109   信大  水泥工業    478,276    557,403
3    1110   東泥  水泥工業    176,935    134,470
4    1213   大飲  食品工業     38,696     29,503
..    ...  ...   ...        ...        ...
834  9942   茂順    其他    352,730    349,111
835  9943  好樂迪  觀光事業    212,912    197,756
836  9944   新麗    其他    179,660    231,139
837  9955   佳龍    其他     81,881     85,625
838  9958  世紀鋼  鋼鐵工業    757,968    651,699

[839 rows x 5 columns]